// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.robot {
  height: 100px;
  margin-left: 20px;
}

.spaces {
  margin-left: 30px;
}

th {
  font-size: 1.5em;
}

#title-text {
  font-family: 'Ranchers', cursive;
  font-size: 3.5em;
  text-shadow: 4px 4px 4px #aaa;
}

#title-nav-text {
  font-family: 'Ranchers', cursive;
  font-size: 2em;
}